.container{
    padding: 20px 150px;
}
.main{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
}.col3{
    display: flex;
    justify-content: space-around;
}
.col2 span{
    padding-left: 10px;
    color: black;
}
.col2 li{
    list-style: none;
}
.col2 .fa-solid, .fas {
    font-weight: 900;
    color: black;
}
.col3 li{
    list-style: none;
    width: 20%;
}
.col3 .card1 li a{
    text-decoration: none;
}
.col3 h3{
    color: white;
}
.col3 .card1 li a span{
    padding-left: 10px;
    color: white;
}
.col3 p{
    color: white;
}
.col3 .card1{
    border: 1px solid black;
    padding: 40px 0px;
    background-color: rgb(46, 8, 81);
}
.col3 .card2{
    border: 1px solid black;
    padding: 40px 0px;
    background-color: rgb(87, 55, 117);
}
.col3 .card3{
    border: 1px solid black;
    padding: 40px 5px;
    background-color: rgb(248, 142, 3);
}
.col3 .align{
    width: 145px;
}
.col3  .fa-brands, .fab {
    font-weight: 400;
    color: white;
}
.align-column{
    padding-top: 130px;
}
.align-column1{
    padding-top: 150px;
}
.align-column1 li{
padding-bottom: 10px;
}


.services{
    padding: 60px 0;
}
.services h1{
    text-align: center;
    font-size: 40px;
}
.services .help{
    color: rgb(248, 142, 3);   
}
.slider-menu li{
    list-style: none;
    display: inline-block;
    padding: 50px;
}
.slider-menu li a{
    border: 1px solid rgb(244, 206, 160);
    border-radius: 50%;
    padding: 20px 20px 20px 20px;
    background-color: rgb(244, 206, 160);
}
.slider-menu{
    text-align: center;
}
.slider-menu .fa-solid, .fas {
    font-weight: 900;
    font-size: 30px;
    color: #000;
}
.slider-menu li a i:hover{
    color: rgb(248, 142, 3);    
}
.testimonals .help{
    color: rgb(248, 142, 3);
}
.testimonals h1{
    text-align: center;
    font-size: 40px;
}

.users3{
    display: flex;
    justify-content: space-between;
}
.user-a3{
    padding: 30px;
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}

.user-a3 .adimages img{
    height: 60px;
    border-radius: 50%;
}
.user-a3 .adimage img{
    height: 13rem;
}
.user-a3 .d-set{
    display: flex;
}
.user-a3 .a-set{
    display: flex;
    align-items: center;
}
.users3 a{
    text-decoration: none;
    color: black;
}
.users3 .adteext{
    width: 80%;
    font-size: 19px;
    font-weight: 500;
}
.users3  .a-align{
    padding-left: 10px;
}
.users3  .a-align .auther-n h5{
   position: absolute;
   top: 72.4%;
}
